.container-right{
  .mat-select-arrow{
    color: rgba(255, 255, 255, .2);
  }
  .mat-select-value{
    color: rgba(255, 255, 255, .2);
  }
  .mat-form-field-underline{
    background-color: rgba(255, 255, 255, .2);
  }
  p{
    margin-bottom: 35px;
  }
}
